@model List<ScholifyWeb.Models.Gradebook>

<h2>Журнали</h2>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Вчитель</th>
            <th>Клас</th>
            <th>Предмет</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gradebook in Model)
        {
            <tr>
                <td>@gradebook.GradebookId</td>
                <td>@gradebook.Teacher.UserName</td>
                <td>@gradebook.Class.ClassName</td>
                <td>@gradebook.Subject</td>
                <td>
                    <a href="@Url.Action("ViewGrades", "Teacher", new { classId = gradebook.Class.ClassId, subject = gradebook.Subject })" class="btn btn-primary">Подивитись оцінки</a>
                </td>
            </tr>
        }
    </tbody>
</table>
