@model IEnumerable<ScholifyWeb.Models.Schedule>

<h2>Розклад класу</h2>

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Час</th>
            <th>Предмет</th>
            <th>Клас</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model)
        {
            <tr>
                <td>@schedule.Date.ToString("yyyy-MM-dd")</td>
                <td>@schedule.StartTime.ToString(@"hh\:mm") - @schedule.EndTime.ToString(@"hh\:mm")</td>

                <td>@schedule.Subject</td>
                <td>@schedule.Class.ClassName</td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }

        .table th, .table td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .table th {
            background-color: #f4f4f4;
        }

    .btn {
        padding: 8px 12px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #007bff;
    }

    .btn-danger {
        background-color: #dc3545;
    }

    .btn-success {
        background-color: #28a745;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }

    .btn-success:hover {
        background-color: #1e7e34;
    }

</style>